@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
}

header{
    background: url(../images/angel-jimenez.jpg);
    background-size: cover;
    height: 650px;
    padding-top: 346px;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header h1{
    font-size: 206px;
    color: white;
    text-align: center;
    margin-left: 88px;
}

.primera{
    float: left;
    width: 30%;
    margin-top: 17%;
    margin-left: 16%;
}

.imagen1{
    float: right;
    margin-top: 12%;
    margin-right: 13%;
    width: 34%;
}

.imagen2{
    float: left;
    width: 34%;
    margin-top: 7%;
    margin-left: 16%;
}

.segunda{
    float: right;
    margin-top: 12%;
    margin-right: 13%;
    width: 34%;
}

.clear{
    clear: both;
}

h2{
    font-size: 447%;
    font-weight: 600;
    font-family: 'Noto Sans JP', sans-serif;
    color: rgba(0, 0, 0, 0.753);
    padding-left: 2%;
}

.primer_subTitulo{

    background: linear-gradient(45deg, rgb(250,74,84), rgb(219,4,111)40% );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;      
}

.never{
    width: 105%;
}

section p{
    font-size: 133%;
    width: 108%;
    font-weight: 600;
    line-height: 160%;
    padding-left: 3%;
}

.segundotexto {
    font-size: 133%;
    width: 97%;
    font-weight: 600;
    line-height: 160%;
    padding-left: 3%;
}

.boton1{
    background-color: rgb(253,76,92);
    border-radius: 34px;
    padding: 3% 10%;
    border:rgb(253,76,92);
    color: white;
    margin-top: 6%;
    font-size: 120%;
}

.tercera{
    float: right;
    margin-top: 12%;
    margin-right: 13%;
    width: 34%;
    color: white;
}

.espalda{
    background:url(../images/john-raptis.png) ;
    background-size: cover;
    height: 783px;
}

.final{
    color: white;
}

footer{
    background-color:rgb(253,76,92);
    color: white;
}

.filas p{
    margin-right: 10%;
    display: inline;
}

.filas{
    padding-top: 5%;
    padding-bottom: 2%;
}

.sola{
    margin-left: 18%;
    width: 3%;
}

.filas1 p{
    margin-right: 10%;
    display: inline;
}

